



body
{
    height: 9000px;
}

.header
{
    background: #106eea;
    height: 35px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
    display: block;
    transition: 0.2s;
}
@media(max-width:991px)
{
    .header 
    {
    display: none;

    }
    

}


.header a
{

    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin-top: 3px;
    padding-bottom: 3px;
    margin-left: 107px;
    line-height: 0.5;
}
.header a:hover{
    text-decoration: underline;
}
.header .phone
{
 margin-left: 50px;
 text-decoration: none;
}
.header .phone:hover
{
 text-decoration: none;
}

.header .header-logo
{
margin-left: 539px;
padding:5px;
padding-right: 20px;
color: rgba(236, 233, 233, 0.623);
display:inline-block ;
}
.header .header-logo:hover
{
 text-decoration: none;
 color: #fff;
}
.navbar-expand-lg .navbar-nav
{
    flex-direction: row;
    margin-left: 500px;
    padding: 30px;

}
.navbar-expand-lg
{
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.navbar-brand
{
color: #222222;
font-size: 40px;
font-weight: bold;
margin-left: 35px;
}
@media (max-width:575px) {
    .navbar-brand
    {
        margin-left: 5px;
        font-size: 35px;
    }

}
.navbar-brand span
{
    color:#106eea ;
    font-weight: bold;
}
.navbar-expand-lg .navbar-nav
{

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
@media(max-width:575px)
{
.navbar-expand-lg .navbar-nav
{
background-color: #fff;
    transition: ease-in-out;
    transition-delay: 0.5s;
}
}
@media(max-width:575px)
{
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-left: 160px;
    padding: 30px;
}
}
.navbar-light .navbar-nav .nav-link
{
    padding: 20px;
    font-weight: bold;
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover
{
    color: #106eea;
}
.navbar-light .navbar-nav .nav-link.active
{
font-weight: bold;
color: #106eea;
}
.dropdown-menu :hover
{
transition: 0.5s ease-in-out;

}

img, svg {
    vertical-align: middle;
    margin-left: 15px;
}




.welocome
{
    background: url(../img/1.jpg)no-repeat center center fixed;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    padding-top:1px;
    margin-bottom: 30px;
}
.welocome h1{
    margin: 0;
    font-size: 65px;
    font-weight: bolder;
    padding-top: 70px;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
}
.welocome h1 span
{
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    padding-top: 70px;
    line-height: 56px;
    color: #106eea;
    font-family: "Poppins", sans-serif;   
}
.welocome p{
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
}
.welocome .cover
{
    background-color: rgba(255, 255, 255, 0.6)  ;
    color: #b6b5b5;
    min-height: 400px;
    padding-top: 20px;
}
 .welocome .video
 {
     color:#106eea ;
     margin-left: 15px;
 }
.welocome .watch
{
    color: #222222;
    font-weight: 600;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.welocome .watch:hover{
    color:#106eea ;
}
.under-header .os
{
    background-color: #fff;
    width: 310px;
    height: 300px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    margin-top: 15px;
    padding-left: 20px;
    border-radius: 5%;
    transition: 1s;
    cursor: pointer;
}
.under-header .os .shape
{
    color: #106eea;
    margin-top: 35px;
    margin-bottom: 22px;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
}
.under-header .os:hover
{
 background-color: rgba(146, 146, 236, 0.425);
}
.under-header .os .shape:hover
{
    color: #fff;
}
.under-header .os h4,.lead:hover
{
    color:#fff ;
}
.under-header .os h4{
    margin-bottom: 25px;
    font-weight: bold;
}
.under-header .os .lead
{
    font-size: 18px;
    transition: 0.75s;
}
.about-us {
    background-color: #f6f9fe;
    padding: 50px 0;
}
.about-us .container .text-center >span, .services .container .text-center > span
{
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.42857143;
text-align: center;
margin: 0;
box-sizing: border-box;
background-color: #e7f1fd;
padding: 8px 15px;
border-radius: 50px;
font-weight: bold;
letter-spacing: 2px;
color: #106eea;
font-size: 13px;
}
.h1{
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
text-align: center;
padding: 0;
box-sizing: border-box;
font-family: inherit;
line-height: 1.1;
color: inherit;
font-size: 36px;
font-weight: bold;
margin: 15px;
}
.about-us .container .text-center h2 span, .services .container .text-center h2 span
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-family: inherit;
    line-height: 1.1;
    font-size: 36px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #106eea;
}
.about-us .container .text-center p, .services .container .text-center:first-of-type p {
    font-size: 18px;
    margin: auto;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 30px;
}
.about-us .container .row .content h2 {
    font-size: 25px;
    font-weight: bold;
    color: #535353;
}
@media (max-width:991px) {
    .about-us .container .row .content h2 {
        font-size: 25px;
        font-weight: bold;
        color: #535353;
        padding-top: 25px;
        padding-bottom: 10px;
    }
}
.about-us .container .media .media-left i {
    width: 60px;
    height: 60px;
    background: #fff;
    line-height: 60px;
    font-size: 19px;
    text-align: center;
    border-radius: 50%;
    color: #106eea;
    box-shadow: 0px 6px 15px rgb(16 110 234 / 12%);
}
.about-us .container .media .media-body h4 {
    font-size: 18px;
    font-weight: bold;
    color: #686868;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media > .pull-left {
    padding-right: 10px;
}   
.about-us .container .media {
    padding-bottom: 20px;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.about-us .container .row .content >p {
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: .6px;
}
p {
    margin: 0 0 10px;
}
.img-responsive
{
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
padding: 0;
margin: 0;
box-sizing: border-box;
border: 0;
display: block;
max-width: 100%;
height: auto;
}
.features {
    padding: 50px 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
    box-sizing: border-box;
    display: block;
    padding: 50px 0;
}
.col-md-3 col-sm-6 col-xs-12 feat
{
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
padding: 0;
margin: 0;
box-sizing: border-box;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: left;
width: 25%;
margin-bottom: 30px;
margin-top: 30px;
}
.features .feat-box {
    border-radius: 10px;
    box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
    padding: 20px;
    position: relative;
}
.basket
{
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
padding: 0;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
font-size: 3em;
font-family: "Font Awesome 5 Free";
font-weight: 900;
color: #106eea;
margin: 10px 10px 0;
}
.features .feat-box:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    background: #106eea;
    transition: .6s;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 6px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-right: -15px;
    margin-left: -15px;
}
    .feat-box
    {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        margin: 0;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
        padding: 20px;
        position: relative;
    }
    .features .feat {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    @media (min-width: 992px)
    {
    .col-md-3 
    {
        width: 25%;
    }
}
    .feat-box h3
    {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 13px;
    }
    .lead{
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
        padding: 0;
        box-sizing: border-box;
        margin: 0 0 10px;
        margin-bottom: 20px;
        font-weight: 300;
        line-height: 1.4;
        font-size: 17px;
    }
    .container
    {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        
    }
    
.features {
    padding: 50px 0;
}
.features .feat {
    margin-bottom: 30px;
    margin-top: 30px;
}
.features .feat-box {
    border-radius: 10px;
    box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
    padding: 20px;
    position: relative;
}
.features .feat-box i {
    color: #106eea;
    margin: 10px 10px 0;
}
.features .feat-box h3 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 13px;
}
.features .feat-box .lead {
    font-size: 17px;
}



.features .feat-box:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    background: #106eea;
    transition: .6s;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 6px;
}

.features .feat-box:hover:before {
    height: 100%;
}
.features .feat-box:hover i,
.features .feat-box:hover h3,
.features .feat-box:hover p
{
    color: #fff;
}
/** end features **/
.skills {
    padding: 50px 0;
}
.skills span {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
    font-size: 13px;
}
.skills span .val {
    font-style: normal;
    float: right;
}
.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin-bottom: 17px;
}
/* end sction skills */
.counts{
    padding: 40px 0;
}
.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    background: #f1f6fe;
    margin-bottom: 35px;
    text-align: center;
}
.counts .count-box i {
    background-color: #106eea;
    width: 60px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    font-size: 24px;
    border: 5px solid #fff;
    padding: 11px 0;
    left: 50%;
    transform: translateX(-50%);
    top: -28px;
}
.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #062b5b;
}
.counts .count-box p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.counts{
    padding: 40px 0;
}
.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    background: #f1f6fe;
    margin-bottom: 35px;
    text-align: center;
}
.counts .count-box i {
    background-color: #106eea;
    width: 60px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    font-size: 24px;
    border: 5px solid #fff;
    padding: 11px 0;
    left: 50%;
    transform: translateX(-50%);
    top: -28px;
}
.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #062b5b;
}
.counts .count-box p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.clients {
    background-color: #f6f9fe;
    padding: 40px 0;
}
.clients .client-box {
    height: 60px;
}
.clients .container img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    max-height: 60px;
    margin: auto;
}
.clients .container img:hover {
    transform: scale(1.3);
}
/* end clients */

/* start services */
.services {
    padding: 60px 0;
}
.services .serv-box {
    border: 1px solid #e2eefd;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    margin-bottom: 20px;
}
.services .serv-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgb(16 110 234 / 10%);
}
.services .serv-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #f1f6fe;
    border-radius: 4px;
    border: 1px solid #deebfd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.4s;
}
.services .serv-box:hover .icon {
    border-color: #106eea;
}
.services .serv-box .icon i {
    color: #3b8af2;
    font-size:28px;
}
.services .serv-box .icon i:hover {
    color: #106eea;
}
.services .serv-box h3 {
    font-weight: bold;
    transition: ease-in-out 0.3s;
}
.services .serv-box p {
    font-size: 16px;
    color: #333;
}
.services .serv-box:hover h3 {
    color: #106eea;
}


.testimonial {
    min-height: 550px;
    background-image: url("../img/14.jpg");
    background-position: center center;
    background-size: cover;
}
.testimonial .overlay {
    padding: 70px 0;
    min-height: 550px;
    background-color: rgba(0,0,0,0.7);
}
.testimonial .carousel-item .tes-img {
    width: 103px;
    height: 105px;
    border: 5px solid rgba(255,255,255,.3);
    border-radius: 50%;
    margin: 20px auto;
}
.testimonial .carousel-item h3 {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
.testimonial .carousel-item h4{
    color: #e1e1e1;
    font-size: 16px;
    margin-top: -5px;
}
.testimonial .carousel-item p {
    color: #e1e1e1;
    letter-spacing: .6px;
    line-height: 1.6;
    font-size: 18px;
    margin-top: 20px;
    font-style: italic;
}
.testimonial .carousel-indicators {
    bottom: -60px;
}
@media (max-width:550px) {
    .testimonial .carousel-item p {
        font-size: 17px;
    }
}
/* start portfolio */
.portfolio
 {
     padding: 60px 0;
    }
    .portfolio .pro1{

    
    background-color: #e7f1fd;
    padding: 8px 15px;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #106eea;
    font-size: 13px;
    }
    .portfolio span
    {
        color: #106eea;
        font-size: 35px;
    }
    
.portfolio ul {
    margin-bottom: 30px;
}
.portfolio ul li {
    display: inline-block;
    margin: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}
.portfolio ul li.active {
    color: #106eea;
    

}
.portfolio ul li:hover{
    color: #106eea;
}
.portfolio .image 
{
    height: 320px;margin-bottom: 30px;
}
.portfolio .image img
 {
    
    width: 100%;
    cursor: pointer;
    
    }

.portfolio .image .card {
    display: none;
    position: relative;
    left: 23px;
    right: 6px;
    width: 320px;
    bottom: 177px;
    z-index: 3;
    transition: all ease-in-out 0.4s;
    background: rgba(255, 255, 255, 0.9);
    padding: 55px;
    
}
@media (max-width:991px) {
    .portfolio .image .card {
        left:8px;
    }
}
.portfolio .image:hover .card
{
    display: block;
}
.img-responsive {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 31px;
}
.portfolio .image img {
    height: 100%;
    width: 100%;
}

.portfolio .image .card p
{
    float: left;
}
.portfolio .image .card p span {
    font-weight: bold;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}
.portfolio .image .card .icon {
    float: right;
    padding: 20px 0;
    font-size: 17px;
}
.portfolio .image .card .icon i {
    margin-right: 5px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.portfolio .image .card .icon i:hover
 {
     color: #106eea;
    }
   

/* start section team */
.team {
    padding: 50px 0;
    background-color: #f6f9fe;
}
.team .team-box{margin-bottom: 20px;}
.team .team-box .image{position: relative;}
.team .team-box .image ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    display: none;
    transition: .4s display ease-in-out;
}
.container .tpan{
font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.container span
{
    color:#106eea ;
}
.team .team-box .info p 
{
    letter-spacing: 1px;
}
.team .team-box .image ul li {
    display: inline-block;
    color: #fff;
    background-color: rgba(16, 110, 234, 0.8);
    padding: 4px 7px;
    margin: 5px;
    border-radius: 3px;
    font-size: 17px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.team .team-box:hover ul
 {
     display: block;
    }
.team .team-box .image ul li:hover {background-color: #3b8af2;}
.team .team-box .info {background-color: #fff;padding: 20px;}
.team .team-box .info h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}




/* start pricing */
.pricing {padding: 60px 0;}
.pricing .pric-text {margin-bottom: 20px;}
.pricing .box {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 12%);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.pricing .sppricing
{
font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.pricing .box .head {
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
}
.pricing .box .head.color {color: #fff;background: #106eea;}
.pricing .box .content p {
    font-weight: bold;
    color: #106eea;
    font-size: 35px;
}
.pricing .box .content p sub {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.pricing .box ul {
    color: #444444;
    line-height: 20px;
    font-size: 14px;
}
.pricing .box ul li {margin-bottom: 10px;}
.pricing .box ul li.underline {
    text-decoration: line-through;
    color: #ccc;
}
.pricing .box .button {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
}
.pricing .box .button .btn {
    background-color: #106eea;
    font-weight: bold;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.pricing .box .advanced{
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #106eea;
    color: #fff;
}



.ques {
    padding: 50px 0;
    background-color: #f6f9fe;
}
.ques .ques-list {
    margin-top: 40px;
}
.ques .ques-list li {
    border-bottom: 1px solid #d4e5fc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.ques .ques-list li p:first-of-type {
    transition: .2s all ease-in-out;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}
.container .sfaq
{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #f6f9fe;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

/* start contact us  */
.contact {
    padding: 60px 0;
}
.contact .info-box {
    margin-bottom: 20px;
}
.contact .info {
    color: #444444;
    box-shadow: 0 0 30px rgb(214 215 216 / 30%);
    padding: 20px 0 30px 0;
}
.contact .info i {
    font-size: 32px;
    color: #106eea;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 2px dotted #b3d1fa;
}
.contact .info h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}
.contact .info p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
}
.contact .cont-box .form {
    box-shadow: 0 0 30px rgb(214 215 216 / 40%);
    padding: 30px;
}
.contact .cont-box {
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact .cont-box input,
.contact .cont-box textarea{
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
}
.contact .cont-box textarea {
    min-height: 145px;
}
.contact .cont-box button {
    margin-bottom: 10px;
    background-color: #106eea;
    margin-left: 199px;
  
}
@media (max-width:991px) {
    .contact .cont-box button {
        margin-bottom: 10px;
        background-color: #106eea;
         margin-left:73px;
       
      
    }
}


.container .spcontact
{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.news {
    padding: 50px 0;
    background-color: #f1f6fe;
}
.news .container h3 {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}
.news .container p {
    font-size: 16px;
    margin-bottom: 10px;
}
.news .container form {
    margin-top: 30px;
    background: #fff;
    padding: 9px 10px;
    width: 113%;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);
    text-align: left;
}
.news .container form input[type="email"]{
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
.container .text
{
    text-align: center;
    margin-left: 270px;
}
@media (max-width:991px) {
    .container .text
{
    
    margin-left: 0px;
}
}
@media (max-width:991px) {
    .news .container form {

        width: 100%;
    
}
}

.news .container form input[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #106eea;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

/* start footer */
footer {
    padding: 50px 0;
}
footer .fot-box{
    margin-bottom: 30px;
}
footer .fot-box:first-of-type h4 {
    font-size: 24px;
    margin: 0 0 15px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
footer .fot-box:first-of-type p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #777777;
}
footer .fot-box:not(:first-of-type) h4{
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}
footer .fot-box:nth-of-type(2) ul li,
footer .fot-box:nth-of-type(3) ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
    color: #777777;
    transition: 0.3s;
    line-height: 1;
    cursor: pointer;
}
footer .fot-box:nth-of-type(2) ul li i,
footer .fot-box:nth-of-type(3) ul li i{
    padding-right: 2px;
    color: #106eea;
    font-size: 18px;
    line-height: 1;
    margin-right: 5px;
}
footer .fot-box:nth-of-type(2) ul li:hover,
footer .fot-box:nth-of-type(3) ul li:hover {
    color: #106eea;
}
footer .fot-box:last-of-type p {
    font-size: 16px;
}
footer .fot-box:last-of-type ul li {
    display: inline-block;
    font-size: 18px;
    display: inline-block;
    background: #106eea;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    cursor: pointer;
}
footer .fot-box:last-of-type ul li:hover
{
    background: #8aacd8;
}
  .copyright
  {
      background-color: #a0bff1;
      height: 50px;
  }
  @media (max-width:991px) {
    .copyright
  {
      background-color: #a0bff1;
      height: 27px;
  }
  }

   .copyright span
   {
       cursor: pointer;
   }
   .copyright .container
   {
       padding-top: 16px;
   }
   @media (max-width:991px) {
    .copyright .container
  {
      padding-top: 0px;
  }
  }